<h1>Customer details</h1>

<table>
    <thead>
        <tr>
            <td>Invoice Number</td>
            <td>Invoice Date</td>
            <td>Customer Name</td>
            
        </tr>
    </thead>
<body>
    <tr>
        <td><a href="/invoice">1001</a></td>
        <td>12.12.12</td>
        <td>Anbu</td>
    </tr>
   
        <td><a href="/invoice">1002</a></td>
        <td>02.01.13</td>
        <td>Chezhian</td>
    </tr>
   
        <td><a href="/invoice">1003</a></td>
        <td>07.10.14</td>
        <td>Babu</td>
    </tr>

        <td><a href="/invoice">1004</a></td>
        <td>19.05.17</td>
        <td>Rani</td>
    </tr>
</body>
</table>